# backend (Python/Flask)
.venv/
venv/
__pycache__/
*.pyc
instance/
*.db
exports/
.env
celerybeat-schedule*

# Redis
dump.rdb

# frontend (Node/Vite)
node_modules/
dist/

# editors/OS
.DS_Store
.vscode/

